Flask==3.1.1
requests==2.32.4
pytest==8.4.1

# Google Cloud clients
google-cloud-pubsub==2.30.0
google-cloud-bigquery==3.34.0
google-cloud-storage==2.19.0

# Beam et Airflow
apache-beam[gcp]==2.66.0
apache-airflow-providers-google==16.1.0
